// Fonts
@font-face {
  font-family: 'Shadow Font';
  src: url('./assets/fonts/Budge-Shadow.woff') format('woff');
}
@font-face {
  font-family: 'Line Font';
  src: url('./assets/fonts/Budge-Line.woff') format('woff');
}
@font-face {
  font-family: 'Header Font';
  src: url('./assets/fonts/Budge-Regular.woff') format('woff');
}
@font-face {
  font-family: 'TextFont';
  src: url('./assets/fonts/BudgePair-Regular.woff') format('woff');
}

@media screen and (max-width: 1299px) {
  #content header {
    justify-content: center;
  }
  .shadow {
    display: none;
  }
}

// Variables
$dark-blue: #3D3B8E;
$light-blue: #6883BA;
$pink: #E072A4;
$white: #F9F9F9;

// Hover animation mixin
@mixin hoverAnimation($underlineColor) {
  font-family: 'TextFont';
  text-decoration: none;
  color: $white;
  display: block;
  position: relative;
  padding: 0.2rem 0;
  overflow: hidden;
  cursor: pointer;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $underlineColor;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body
#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #dae4df;
}

// "Frosty Delights" header text
header {
  padding: 0.5rem 10rem;
  background-color: $dark-blue;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 4rem;
  }
}

.shadow {
  font-family: 'Shadow Font';
  color: $light-blue;
  position: relative;
}

.text {
  font-family: 'Header Font';
  color: $white;
  position: absolute;
  top: 0;
}

.line {
  font-family: 'Line Font';
  color: $pink;
  position: absolute;
  top: 0;
}

// Nav Bar
nav {
  gap: 10rem;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-size: 1.8rem;
  @include hoverAnimation(hotpink);
}

.selected::after {
  background-color: $white;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

// Main Container (Container below header)
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

// Home Page
.mainCard {
  width: clamp(450px, 40vw, 700px);
  padding: 1.5rem;
  margin: 1rem 0;
  background-color: $pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 3vh;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.mainCard p {
  color: $white;
  font-family: 'TextFont';
  font-size: 1.5rem;
}

.homeCard img {
  width: clamp(250px, 30vw, 320px);
  border-radius: 50%;
}

.homeCard a {
  font-size: 1.5rem;
  @include hoverAnimation($white);
}

// Menu Page
.menuCard {
  padding: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.iceCreamCard {
  border: solid 2px $white;
  border-radius: 2vh;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  background-color: $white;
  transition: 0.3s ease;
  p {
    color: $pink;
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1rem;
    color: $pink;
    font-family: 'TextFont';
  }
  img {
    width: 100px;
  }
  &:hover {
    background-color: $pink;
    p, h2 {
      color: $white;
    }
  }
}

// Contact Page
.contactCard {
  h2 {
    color: $white;
    font-size: 2.5rem;
  }
  svg {
    width: 50px;
  }
  p {
    font-size: 1.5rem;
  }
  img {
    width: min(95%,500px);
    margin-top: 1rem;
    border: 4px solid $white;
    border-radius: 2vh;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

.contactCard .infoArea {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  row-gap: 2rem;
  column-gap: 1.5rem;
}